@font-face {
    font-family: 'norsebold';
    src: url('assets/norse-bold-webfont.woff2') format('woff2'),
         url('assets/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
}

input, button, textarea, select {
    font: inherit; 
}

#sidebar {
    background: no-repeat center/100% url("assets/background.jpg");
    width: 40%;
}