@font-face {
    font-family: 'norsebold';
    src: url('assets/norse-bold-webfont.woff2') format('woff2'),
         url('assets/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    background-color: #F9FAFB;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea, select {
    font: inherit; 
}

#sidebar {
    flex-shrink: 0;
    background: no-repeat center/100% url("assets/background.jpg");
    width: 40%;
    position: relative;
    color: white;
    text-align: center;
}

#sidebar .logo-section {
    background-color:rgba(0, 0, 0, 0.5);
    font-family: "norsebold", serif;
    font-size: 4rem;
    padding: .5rem;
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

#sidebar .logo-section img {
    width: 75px;
}

#sidebar .credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

#sidebar .credit a {
    text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#main .info {
    font-size: 1.5rem;
    font-weight: bold;
}

#main .info p {
    margin-bottom: 1rem;
}