@font-face {
    font-family: 'norsebold';
    src: url('assets/norse-bold-webfont.woff2') format('woff2'),
         url('assets/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
}
  
body {
    background-color: #F9FAFB;
    font-family: sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

#sidebar {
    flex-shrink: 0;
    background: no-repeat center/100% url("assets/background.jpg");
    width: 40%;
    position: relative;
    color: white;
    text-align: center;
}

#sidebar .logo-section {
    background-color:rgba(0, 0, 0, 0.5);
    font-family: "norsebold", serif;
    font-size: 4rem;
    padding: .5rem;
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .3rem;
    justify-content: center;
    align-items: center;
}

#sidebar .logo-section img {
    width: 75px;
}

#sidebar .credit {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: .8rem;
}

#sidebar .credit a {
    text-decoration: underline;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#main .info {
    font-size: 1.5rem;
    font-weight: bold;
}

#main .info p {
    margin-bottom: 1rem;
}

#main .form-wrapper {
    filter: drop-shadow(-1px 6px 3px rgba(225,228,232,1));
}

#main .form {
    background-color: #FFF;
    box-shadow: 0 0 0 2rem #FFF, 0px 14px 9px -6px red;
    clip-path: inset(0 -2rem);
    padding: 1rem 0 2rem 0;
}

#main .form h2 {
    margin-bottom: 1rem;
}

#main form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#main form > .form-row {
    position: relative;
    display: flex;
    gap: 4rem;
}

#main form .form-row label {
    display: flex;
    flex-direction: column;
    color: #434B57;
    font-weight: bold;
    font-size: .7rem;
}

#main form .form-row input {
    padding: 5px 10px;
    width: 220px;
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    font-size: 1rem;
}

#main form .form-row input:focus {
    border: 2px solid #9DB1E9;
    box-shadow: 8px 8px 9px -9px #9DB1E9;
    outline: 0;
}

#main form .form-row input[type=password]:invalid {
    border: 2px solid #D06666;
}

#main form .warning {
    color: red;
    display: none;
}

button {
    width: 200px;
    height: 40px;
    background-color: #596D48;
    box-shadow: 8px 8px 9px -9px #596D48;
    margin: 1rem 0;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    background-color: rgba(89,100,72,1);
}

button + p a {
    color: #596D48;
    font-weight: bold;
}